<% layout("/layouts/boilerplate") %>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="POST">
        <div>
            <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="Enter title " name="listing[title]" class="form-control">
        </div>
        
        <div>
         <label for="description" class="form-label">Description</label>  
         <textarea  
         name="listing[description]" 
          class="form-control"
          ></textarea>
        </div>
         
        <div>
            <label for="image" class="form-label">Image Link</label>  
            <input  type="text" placeholder="Enter image URL/Link " name="listing[image]" class="form-control">
        </div>
           

          <div>
            <label for="price" class="form-label">Price</label>  
            <input   type="text" placeholder="Enter price" name="listing[price]" type="number" class="form-control">
          </div>
           
           <div>
             <label for="location" class="form-label">Location</label> 
             <input type="text" placeholder="Enter location" name="listing[location]" class="form-control"> 
           </div>
            
            <div>
              <label for="country" class="form-label">Country</label> 
              <input type="text" placeholder="Enter country" name="listing[country]" class="form-control">  
            </div>
            
            
            <button class="btn btn-dark">Add</button>
    </form>
